doctype html
html
  head
    title William Jagels
    // main styles
    link(href="static/css/styles.css", rel="stylesheet")
    block styles
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
  body
    .header
      .container
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              ul.nav.navbar-nav
                li.active
                  a(href="/") Home
                li
                  a(href="/hi")
    .container
      block content
    .footer
    // main javascript
    script(src="/static/js/scripts.js")
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    block analytics
      script(src="/static/js/analytics.js")